:root {
    --theme-color: #ff3b72
}

body {
    margin: 0;
    color: #3e3e3e;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link-block {
    text-decoration: none;
    display: block;
    color: inherit;
}

.button {
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
    transition: 0.25s;
    user-select: none;
    cursor: pointer;
    color: rgb(200, 200, 200);
    padding: 0;
    box-sizing: border-box;
}

.button-theme-color {
    border-color: var(--theme-color);
    color: var(--theme-color);
    background-color: white;
}

.button-theme-color:active {
    color: white;
    background-color: var(--theme-color);
}

.button-theme-color-reverse {
    border-color: var(--theme-color);
    color: white;
    background-color: var(--theme-color);
}

.button-theme-color-reverse:active {
    color: var(--theme-color);
    background-color: white;
}

.input-text {
    border: 1px solid rgb(200, 200, 200);
    transition: 0.25s;
    -webkit-appearance: none;
    outline: none;
    font-size: 16px;
    padding: 0 12px;
    box-sizing: border-box;
    font-family: "微软雅黑", serif;
    resize: none;
}

.input-text:focus {
    border-color: var(--theme-color);
}

.checkbox {
    display: none;
}

.option {
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
    transition: 0.25s;
    user-select: none;
    cursor: pointer;
    color: rgb(200, 200, 200);
    padding: 0;
    box-sizing: border-box;
}

.option-theme-color {
    border-color: var(--theme-color);
    color: var(--theme-color);
    background-color: white;
}

.option-theme-color-reverse {
    border-color: white;
    color: white;
    background-color: transparent;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: var(--theme-color);
    z-index: 50;
}

.nav-bar-brand {
    font-size: 24px;
    color: white;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
    vertical-align: center;
}

.nav-bar-brand-star {
    font-size: 20px;
    transform: rotate(-26.5deg);
}

.nav-bar-button {
    font-size: 36px;
    line-height: 40px;
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.menu {
    height: 50px;
    line-height: 50px;
    float: right;
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-right: 20px;
}

.setting-dropdown-menu {
    display: none;
    position: absolute;
    margin-top: 5px;
    margin-left: -36px;
    text-align: left;
    color: #24292e;
    background-color: white;
    z-index: 50;
    line-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
}

.setting-dropdown-menu::after,
.setting-dropdown-menu::before {
    border: solid transparent;
    content: ' ';
    height: 0;
    bottom: 100%;
    position: absolute;
    width: 0;
}

.setting-dropdown-menu::after {
    border-width: 10px;
    border-bottom-color: #fff;
    right: 11px;
}

.setting-dropdown-menu::before {
    border-width: 11px;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    right: 10px;
}

.dropdown-setting-menu-mask::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;
    display: block;
    content: " ";
    cursor: default;
}

.menu-item {
    font-size: 14px;
    padding: 0 10px;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.menu-item-top:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-item-bottom:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-button {
    font-size: 24px;
    line-height: 24px;
    margin-top: 13px;
}

.setting-menu-container {
    height: 50px;
    line-height: 50px;
    float: right;
    margin-right: 20px;
    user-select: none;
}

.user-avatar {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    cursor: pointer;
}

.background {
    position: fixed;
    z-index: -10;
    background-image: url("../assets/background_pattern.png");
    background-repeat: repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    padding-top: 50px;
}

.section-container {
    margin: 20px auto 20px;
    min-height: 100px;
    width: 900px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    transition: 0.25s;
    box-sizing: border-box;
}

@media screen and (max-width: 930px) {
    .section-container {
        margin: 10px auto 10px;
        width: calc(100% - 12px);
    }
}

.section-title {
    color: rgb(100, 100, 100);
    font-size: 24px;
    line-height: 36px;
    padding: 16px 30px;
    position: relative;
    user-select: none;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.section-content {
    padding: 25px 30px;
    font-size: 16px;
    line-height: 25px;
}

.line-container {
    margin-top: 10px;
}

.module-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.module {
    margin: 30px auto 30px;
    width: 900px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    transition: 0.5s;
    transform: translate(0, -100%);
    box-sizing: border-box;
}

.module-cut-in {
    transform: translate(0, 0);
}

.information-container {
    z-index: 99;
}

.information {
    width: 350px;
    padding: 20px 25px;
}

@media screen and (max-width: 362px) {
    .information {
        width: calc(100% - 12px);
    }
}

.information-text {
    margin-bottom: 10px;
}

.information-textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding-top: 8px;
    border-radius: 15px;
}

.information-hint {
    color: red;
}

.information-button-container {
    display: flex;
    justify-content: space-between;
}

.information-alert-button {
    height: 30px;
    width: 100%;
    line-height: 28px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
}

.information-confirm-button {
    display: inline-block;
    height: 30px;
    width: 45%;
    line-height: 28px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
}

.dialog-container {
    z-index: 60;
}

.dialog {
    padding: 20px 25px;
}

@media screen and (max-width: 930px) {
    .dialog {
        margin: 10px auto 10px;
        width: calc(100% - 12px);
    }
}

.dialog-title {
    font-size: 24px;
    color: rgb(100, 100, 100);
    user-select: none;
}

.dialog-close-button {
    height: 30px;
    line-height: 28px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
}

/* home */

.room-number-data-container {
    width: 800px;
    margin: 0 auto 10px auto;
}

@media (max-width: 810px) {
    .room-number-data-container {
        width: calc(100% - 10px);
    }
}

[v-cloak] {
    display: none;
}

.flip-list-enter {
    opacity: 0;
    transform: translateX(-60px);
}
.flip-list-leave-to {
    opacity: 0;
    transform: translateX(60px);
}
.flip-list-leave-active {
    position: absolute;
}

.room-number-data {
    background-color: white;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 12px;
    transition: all 0.5s;
}

.room-number-data-column {
    display: inline-block;
    vertical-align: top;
}

.room-number-data-column-follow {
    margin-left: 5px;
    width: calc(100% - 52px);
}

.room-number-data-user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.room-number-data-user-info-username {
    font-weight: bold;
}

.room-number-data-other {
    color: rgb(150, 150, 150);
    font-size: 15px;
    user-select: none;
}

.room-number-data-number {
    font-weight: bold;
}

.room-number-data-number-copy {
    cursor: pointer;
}

.room-number-data-raw-msg {
    display: block;
}

.room-number-data-operation-button-container {
    text-align: right;
    padding-right: 35px;
}

.room-number-data-operation-button {
    user-select: none;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
}

.home-side-button-container {
    position: fixed;
    right: calc(50% - 460px);
    bottom: 100px;
    transition: 0.4s;
}

@media (max-width: 960px) {
    .home-side-button-container {
        right: 10px;
        bottom: 20px;
    }
}

.home-side-button {
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    margin: 8px 0;
}

.home-send-room-number-number {
    width: 100%;
    height: 30px;
    border-radius: 15px;
}

.home-send-room-number-description {
    width: 100%;
    height: 100px;
    padding-top: 8px;
    border-radius: 15px;
}

.home-dialog-button {
    display: block;
    height: 30px;
    line-height: 28px;
    width: 120px;
    border-radius: 15px;
    text-align: center;
}

.home-filter-checkbox-label {
    display: inline-block;
}

.checkbox:checked + .home-filter-checkbox-label {
    color: white;
    background-color: var(--theme-color);
}

.home-filter-option-container {
    line-height: 35px;
}

.home-filter-keywords {
    width: 100%;
    height: 100px;
    padding-top: 8px;
    border-radius: 15px;
}

.home-filter-user-container {
    min-height: 30px;
    line-height: 40px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    padding: 5px;
}

.room-number-filter-block-user {
    display: inline-block;
    height: 30px;
    line-height: 28px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    margin: 0 5px;
    padding: 0 10px;
    user-select: none;
}

.room-number-filter-block-user-delete {
    margin-left: 5px;
    cursor: pointer;
}

/* login */

.login-section-container {
    margin-top: 50px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (min-width: 412px) {
    .login-section-container {
        width: 400px;
    }
}

@media screen and (max-width: 411px) {
    .login-section-container {
        width: calc(100% - 12px);
    }
}

.login-section-title {
    border: none;
    padding-bottom: 5px;
    padding-left: 10px;
}

.login-section-content {
    padding: 0 0 25px 0;
}

.login-input-container {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    height: 40px;
    line-height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.25s;
    box-sizing: border-box;
}

.login-input-container-focus {
    border-color: var(--theme-color);
}

.login-input-text-label {
    width: 18px;
    text-align: left;
    font-size: 18px;
    color: rgb(200, 200, 200);
}

.login-input-text {
    height: 24px;
    margin-left: 2px;
    width: calc(100% - 30px);
    font-size: 16px;
    border: none;
    padding: 0;
    -webkit-appearance: none;
    outline: none;
}

.login-email-input-text {
    height: 24px;
    width: calc(100% - 69px);
    border-radius: 12px;
}

.login-button {
    border-radius: 20px;
    width: 100%;
    height: 40px;
    line-height: 38px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    -webkit-appearance: none;
}

.hint-container {
    text-align: right;
}

.hint-text {
    cursor: pointer;
    color: #4183c4;
    user-select: none;
    text-decoration: none;
}

/* account */

.account-user-information {
    display: table;
    width: calc(100%);
    border-collapse: collapse;
    user-select: none;
}

.account-user-information-row {
    display: table-row;
    border-bottom: 1px solid rgb(200, 200, 200);
    cursor: pointer;
    transition: 0.3s;
}

.account-user-information-row:hover {
    background-color: rgb(240, 240, 240);
}

.account-user-information-row-title {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    width: 80px;
    height: 50px;
}

.account-user-information-row-content {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    text-align: right;
    line-height: 0;
}

.account-sub-section-follow {
    margin-top: 15px;
}

.sub-section-title {
    font-size: 18px;
    font-weight: bold;
}

.account-user-avatar {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 60px;
    background-image: url("../assets/user_avatar/user_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.setting-input {
    height: 30px;
    line-height: 30px;
    width: 200px;
    border-radius: 15px;
}

.setting-button {
    display: block;
    height: 30px;
    line-height: 28px;
    width: 120px;
    border-radius: 15px;
    text-align: center;
}

.avatar-image-setting-container {
    width: calc(50% - 3px);
    display: inline-block;
    vertical-align: top;
}

.avatar-image-crop-area {
    min-height: 155px;
    max-height: 400px;
    line-height: 155px;
    font-size: 40px;
    text-align: center;
    color: rgb(150, 150, 150);
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.cropper-container,
.cropper-wrap-box,
.cropper-drag-box {
    border-radius: 5px;
}

.avatar-preview-label {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(150, 150, 150);
}

.avatar-preview {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 75px;
    overflow: hidden;
    background-image: url("../assets/user_avatar/user_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    .avatar-image-setting-container {
        width: 100%;
        display: block;
    }

    .avatar-preview-label {
        margin-top: 15px;
    }
}