<div class="dialog-title">更换头像</div>
<div class="line-container">
    <label for="avatar-image-select" class="button button-theme-color setting-button">
        <span>选择图片</span>
        <input type="file" id="avatar-image-select" accept="image/jpeg, image/png" style="display: none">
    </label>
    <div class="line-container">
        <div class="avatar-image-setting-container avatar-image-crop-area">
            <img src="" class="far fa-image" id="avatar-selected-image">
        </div>
        <div class="avatar-image-setting-container">
            <div class="avatar-preview-label">头像预览</div>
            <div class="avatar-preview" id="avatar-preview"></div>
        </div>
    </div>
    <div class="line-container">
        <div class="button button-theme-color setting-button" onclick="uploadUserAvatarImage()">应用</div>
    </div>
</div>