<div class="dialog-title">更改密码</div>
<div class="line-container">
    <input type="password" class="input-text setting-input" id="account-setting-old-password" placeholder="原密码">
</div>
<div class="line-container">
    <input type="password" class="input-text setting-input" id="account-setting-password" placeholder="新密码">
</div>
<div class="line-container">
    <input type="password" class="input-text setting-input" id="account-setting-confirm-password" placeholder="再次输入新密码">
</div>
<div class="line-container">
    <div class="button button-theme-color setting-button" onclick="accountSetPassword()">应用</div>
</div>