<div class="dialog-title" id="account-bind-email-title"></div>
<div class="line-container">
    <input type="text" class="input-text setting-input" id="account-setting-email" placeholder="邮箱地址">
</div>
<div class="line-container">
    <div class="button button-theme-color setting-button" id="account-send-email-verification-code-button">发送验证码</div>
</div>
<div class="line-container">
    <input type="text" class="input-text setting-input" id="account-setting-email-verification-code" placeholder="验证码">
</div>
<div class="line-container">
    <div class="button button-theme-color setting-button" id="account-bind-email-execute"></div>
</div>