<div class="dialog-title">筛选房间号</div>
<div class="line-container">房间类型</div>
<div class="line-container home-filter-option-container">
    <input type="checkbox" class="checkbox room-number-filter-type" id="room-number-filter-type-7" checked="checked" value="7">
    <label for="room-number-filter-type-7" class="option option-theme-color home-filter-checkbox-label home-dialog-button room-number-filter-type-label"
           id="room-number-filter-type-7-label">7万常规房</label>

    <input type="checkbox" class="checkbox room-number-filter-type" id="room-number-filter-type-12" checked="checked" value="12">
    <label for="room-number-filter-type-12" class="option option-theme-color home-filter-checkbox-label home-dialog-button room-number-filter-type-label"
           id="room-number-filter-type-12-label">12万高手房</label>

    <input type="checkbox" class="checkbox room-number-filter-type" id="room-number-filter-type-18" checked="checked" value="18">
    <label for="room-number-filter-type-18" class="option option-theme-color home-filter-checkbox-label home-dialog-button room-number-filter-type-label"
           id="room-number-filter-type-18-label">18万大师房</label>

    <input type="checkbox" class="checkbox room-number-filter-type" id="room-number-filter-type-25" checked="checked" value="25">
    <label for="room-number-filter-type-25" class="option option-theme-color home-filter-checkbox-label home-dialog-button room-number-filter-type-label"
           id="room-number-filter-type-25-label">25万房</label>

    <input type="checkbox" class="checkbox room-number-filter-type" id="room-number-filter-type-other" checked="checked" value="other">
    <label for="room-number-filter-type-other" class="option option-theme-color home-filter-checkbox-label home-dialog-button room-number-filter-type-label"
           id="room-number-filter-type-other-label">其他房</label>
</div>
<div class="line-container">屏蔽关键词（关键词之间使用|符号隔开）</div>
<div class="line-container">
    <textarea class="input-text home-filter-keywords" id="room-number-filter-keywords"></textarea>
</div>
<div class="line-container">屏蔽用户列表</div>
<div class="line-container home-filter-user-container" id="room-number-filter-user-container">
</div>
<div class="line-container">
    <div class="button button-theme-color home-dialog-button" onclick="homeUpdateFilter(true)">应用</div>
</div>