<div class="dialog-title">发送房间号</div>
<div class="line-container">
    <input type="text" class="input-text home-send-room-number-number" id="send-room-number-number" placeholder="房间号">
</div>
<div class="line-container">
    <textarea class="input-text home-send-room-number-description" id="send-room-number-description" placeholder="房间描述"></textarea>
</div>
<div class="line-container">
    <div class="button button-theme-color home-dialog-button" onclick="homeSendRoomNumber()">发送</div>
</div>