<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff3b72">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ff3b72">
    <title>Bandori车站</title>
    <meta name="keywords" content="BanGDream!,Bandori,邦邦,车站">
    <meta name="description" content="BanGDream!协力房间收集平台">
    <link rel="shortcut icon" href="assets/icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="font_awesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/main.css?19110921.49">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/general.js?19110921.47"></script>