<div class="line-container login-input-container" id="login-input-password-container" onclick="inputBorderTriggerInput('password')">
    <label for="password" class="fas fa-lock login-input-text-label" aria-hidden="true"></label>
    <input type="password" class="login-input-text" id="password" name="password" placeholder="新密码"
           onfocus="inputFocusTriggerBorder('login-input-password-container', 'login-input-container-focus', 1)"
           onblur="inputFocusTriggerBorder('login-input-password-container', 'login-input-container-focus', 0)">
</div>
<div class="line-container login-input-container" id="sign-up-input-password-repeat-container" onclick="inputBorderTriggerInput('password-repeat')">
    <label for="password-repeat" class="fas fa-check-circle login-input-text-label" aria-hidden="true"></label>
    <input type="password" class="login-input-text" id="password-repeat" name="email" placeholder="再次输入密码"
           onfocus="inputFocusTriggerBorder('sign-up-input-password-repeat-container', 'login-input-container-focus', 1)"
           onblur="inputFocusTriggerBorder('sign-up-input-password-repeat-container', 'login-input-container-focus', 0)">
</div>
<div class="line-container">
    <div class="link-block button button-theme-color login-button" onclick="window.location.href = '?reset_password'">修改邮箱</div>
</div>
<div class="line-container">
    <div class="link-block button button-theme-color login-button" id="send-verification-code-button" onclick="resetPasswordSendVerificationCode()">发送验证码</div>
</div>
<div class="line-container login-input-container" id="login-input-verification-code-container" onclick="inputBorderTriggerInput('verification-code')">
    <label for="verification-code" class="fas fa-key login-input-text-label" aria-hidden="true"></label>
    <input type="text" class="login-input-text" id="verification-code" name="verification-code" placeholder="验证码"
           onkeyup="this.value = this.value.replace(/\D/g,'')"
           onfocus="inputFocusTriggerBorder('login-input-verification-code-container', 'login-input-container-focus', 1)"
           onblur="inputFocusTriggerBorder('login-input-verification-code-container', 'login-input-container-focus', 0); this.value = this.value.replace(/\D/g,'')"
           onkeydown="textInputEnter('login-reset-password-button')">
</div>
<div class="line-container">
    <div class="link-block button button-theme-color-reverse login-button" id="login-reset-password-button" onclick="resetPassword()">重置密码</div>
</div>