<nav class="nav-bar">
    <a class="link-block nav-bar-brand" href="/">Bandori <i class="fas fa-star nav-bar-brand-star"></i> 车站</a>
    <div class="setting-menu-container">
        <div class="user-avatar" id="user-avatar" onclick="settingMenuToggle()"></div>
        <div class="setting-dropdown-menu" id="setting-menu">
            <a class="link-block menu-item menu-item-top dropdown-menu-item" href="?account">个人中心</a>
            <div class="menu-item menu-item-bottom dropdown-menu-item" onclick="window.location.href = '?logout'">退出登录</div>
        </div>
    </div>
    <div class="menu">
        <div class="fas fa-info-circle info-button" title="关于本站" onclick="openAboutDialog()"></div>
    </div>
</nav>