<div class="background"></div>
<div class="module-container information-container" id="information-container">
    <div class="module information" id="information">
        <div class="information-text" id="information-text"></div>
        <p class="information-hint" id="information-hint"></p>
        <div class="line-container information-button-container" id="information-button-container"></div>
    </div>
</div>
<div class="module-container dialog-container" id="dialog-container">
    <div class="module dialog" id="dialog">
        <div class="dialog-content" id="dialog-content"></div>
        <div class="line-container">
            <div class="button button-theme-color dialog-close-button" onclick="closeDialog()">关闭</div>
        </div>
    </div>
</div>