$theme_color: #ff3b72;
$font_color: #505050;

$button_color_1: #ff4784;
$button_color_1_hover: #ff7fa9;
$button_color_2: #43bfff;
$button_color_2_hover: #7cd2ff;
$button_color_3: #ffba00;
$button_color_3_hover: #ffcf4c;

$checkbox_color_1: #ff4784;
$checkbox_color_1_after: #ff7fa9;